* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(153, 50, 201),rgb(148, 121, 167)) ;
    border: 1px solid gray;
   
}
img {
    width: 250px;
    
}
nav {
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
    background-color: rgb(209, 206, 206) ;
    

}
ul {
    display: flex;
    list-style: none;
}
a {
    text-decoration: none;
    margin-left: 40px;
    font-size: large;
    color: rgb(0, 0, 0);
}
input {
    margin-left: 20px;
}
main {
    
    flex-grow: 1;
    border: 1px solid gray;
    
}
footer {
    background-color: rgb(209, 206, 206) ;
}