body {
  width:100%;
  background-color: bisque;
}
div{
   background-color: grey;
   width: 71%;
   color: whitesmoke;
}

nav{
   border: steelblue;
}

nav a:hover, nav a:active {
   background-color:steelblue;
}

div nav li{
display: inline-block;
justify-content:space-around;
margin-right: 30px;
background: 1px solid black;
}
div nav li a {
   color: whitesmoke;
   text-decoration-line: none;
}
