*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
} 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    background-image: url("jr-korpa-9XngoIpxcEo-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
section{
    position: relative;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    position: relative;
    width: 500px;
    height: 330px;
    border-radius: 20px;
    padding: 30px 30px 50px 5px; 
    background-color: white;
    background: linear-gradient(
        to left bottom,
        rgba(255, 255, 255, 0.3),
        rgba(255,255,255,0.5)
    ); 
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.377);
    display: flex; 
}
.contenido{
    display: table-column;
}
form{
    position: absolute;
    width: 100%;
    height: auto;
    padding: 10px 30px 10px 15px;
    display: flex;
    flex-direction: column;
}
.usuario{
    width: 100%;
    height: 30px;
    padding: 18px;
    margin-top: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: 0px;
    background: none;
}
.contraseña{
    width: 100%;
    height: 30px;
    padding: 18px;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: 0px;
    background: none; 
} 
::placeholder{
    color: black;
}
.IniciarSesión{
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 5px;
    color: black; 
    border: 0px solid #333;
    background: linear-gradient(
        to left bottom,
        rgb(255, 200, 1),
        rgb(255, 60, 1)
    );  
}
.IniciarSesión{cursor: pointer;}
a{
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.opcion1{
    margin-bottom: 7px;
    margin-top: 7px;
}
.button-box{
    width: 250px;
    height: 39px;
    padding-top: 10px;
    padding-left: 25px;
    margin-left: 100px;
    border-radius: 20px;
    background-color: white;
    background: linear-gradient(
        to left bottom,
        rgb(255, 100, 255),
        rgba(255, 0.5, 255)
    );  
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.377);
}
.IniciarSesion{
    position: relative;
    margin-right: 40px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: 0;  
}
.Registrarse{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.btn{
    top: 10px;
    left: 115px;
    position: absolute;
    width: 130px;
    height: 39px;
    border-radius: 20px;
    background: linear-gradient(
        to left bottom,
        rgb(255, 200, 1),
        rgb(255, 60, 1)
    ); 
    background-color: black;
}