// body {
//     display: flex;
//     flex-direction: column;
//     background-image: url("../../img/imgCab2.jpg");
//     background-repeat: no-repeat;
//     background-size: cover;
//     .container {
//       .cabecera {
//         display: flex;
//         .header {
//           margin-top: -2rem;
//           display: flex;
//           // border: 3px solid black;
//           justify-content: center;
//           .textHeader {
//             margin-top: 5rem;
//             color: #fff;
//             font-size: 1.5rem;
//           }
//         }
//       }
//       .main {
//         main {
//           display: flex;
//           flex-direction: column;
//           align-items: flex-end;
//           margin-top: 10rem;
//           margin-right: 5rem;
//           .card {
//             margin-top: 3rem;
//             width: 20rem;
//             text-align: center;
//             background-color: rgba(10, 12, 14, 0.4);
//             // opacity: 0.6;
//             color: #fff;
//           }
//         }
//       }
//     }
//   }

body {
  background-image: url("../../img/imgCab2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
