*{
    margin:0;
    box-sizing: border-box;
}

/* Estilo para la caja contenedora */
#CajaContacto{
    
    width: 470px;
    height: 450px;
    margin-left: 400px;
    background: #dc2d22;
    border-radius: 15px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 25px;
    color:white;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.32);

}

/* Estilo para la imagen de fondo */
  

body{
    width: 100%;
    height: 100%;
    background: url(../img/inicio2.jpg);
    background-size: cover; 

}

/* Estilo para la imagen logo y fondo*/
img{
    width: 120px;
    height: 50px;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.32);
}

/***************  MENÚ DE CABECERA *******************************/
header{
    display:flex
   
}
header div{ /* CABECERA GENERAL*****/
    width: 100%;
    padding: 20px;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background: rgb(190, 23, 23);
    
}

img{  /* IMAGEN ******/
    width: 200px;
    height: 100px;
} 

#opccabe {  /* MENÚ DE CABECERA *****************/
    width:1000px;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {    /*  QUITA LOS PUNTOS DE LAS OPCIONES ***************/
    list-style:none;
}

.nav {      /* DISPONE LAS OPCIONES EN LÍNEA ************************/
    display: flex;
}

.nav li a { /* ESTILAMOS CADA UNA DE LAS OPCIONES **********************/
    background: rgb(190, 23, 23);   /* Fondo Rojo *********/
    color:#fff;                     /* Color de texto Blanco ************/
    text-decoration:none;             /* Quitamos el subrayado ************/
    padding: 10px 20px;        /* Separación entre ellos y las sub-opciones 10px 
                                 verticalmente, 20px horizontalmente***********/
    display:block;              /* Respeta el espacio de cada sub-opción *******/

}


.nav li a:hover {   /* COLOR DE FONDO DE LAS OPCIONES Y SUB-OPCIONES *******/
    background-color: black;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

/***************  FIN MENÚ DE CABECERA ***************************/

/* Estilo para las etiquetas  */
#Nombre, #Apellido, #CP, #Tel, #Email{
    margin-top: 20px;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.32);
    
}

/* Estilo para input Nombre y Apellido */
#Nom, #Ape {
    width: 304px;
    margin-left: 50px;
    font-size: 15px;
    
}

/* Estilo para input Código Postal */
#Cod{
    width: 304px;
    margin-left: 7px;
    font-size: 15px;
    
}

/* Estilo para input Teléfono */
#Tfn{
    width: 303px;
    margin-left: 47px;
    font-size: 15px;
    
}

/* Estilo para input Email */
#mail{
    width: 303px;
    margin-left: 62px;
    font-size: 15px;
    
}

/* Estilo para el botón */
input[type=submit] {
    width: 30%;
    margin-left: 294px;
    font-weight: bold;
    font-size: 24px;
    color: rgb(3, 3, 12);
    line-height: 40px;
    background-color: white;
    cursor: pointer;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.32);
}

/* Estilo para cuando enfocamos el botón */
input[type=submit]:hover {
    background-color: #000000;
    color: white;
}

/* Estilo para Errores */
.error { 
    font-size: 75%;
    color: rgb(248, 241, 241);
}

.invalid {
    border: 1px solid rgb(23, 0, 153) !important;
    background-color: rgb(10, 8, 8);
    color: white;
}

/************************************************************************
*********************              PIE            **********************
************************************************************************/
footer{
    height: 200px;
    background-color: darkred;
    display: flex;
    
}
footer div{
    justify-content: center;
    align-items:  center;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 100px;
}
#horario{
    justify-content: center;
    align-items:  center;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 300px;
}
