/* ESTILO MODALES */

.modal-inicio-empresa, .modal-registro-empresa, .modal-inicio-usuario, .modal-registro-usuario {
    margin-top: 12rem;
  }
  
  .info {
    color: red;
    font-size: 0.70rem;
  }
  
  .title-modal {
    color: #f1c40f;
    margin: auto;
  }
  
  .input {
    background-color: #f1c40f;
    color: #fff;
  }