/* Presets */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
img {
    max-width: 100%;
}

/* Universal */

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

/* Body */

body {
    position: relative;
    margin: 0 auto;
    height: 100%;
}

/* Text Elements */

p {
    font-size: 1em;
}

a {
    color: #0E4CB0;
    text-decoration: none;
}

h1 {
    font-size: 2em;
    font-weight: 900;
}

h2 {
    font-size: 1.5em;
}

/* HEADER */

header {
    height: 48px;
    position: relative;
    display: flex;
    background: #bfbfbf;
}

/* LOGO */

#logo {
    height: 48px;
    margin: auto;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoIcon {
    vertical-align: text-bottom;
    pointer-events: none;
    width: 38px;
    margin-right: 2px;
}

#logoText {
    display: inline-block;
    margin-bottom: 8px;
    margin-top: 8px;
    color: black;
}

/* Hidden Ham */

#ham {
    display: none;
}

/* Search */

#search {
    display: flex;
    align-items: center;
    margin-right: auto;
    order: 0;
}

#searchField {
    color: black;
    margin-left: 4px;
    outline: none;
    flex-grow: 1;
    background: none;
    font-size: 1em;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    height: 40px;
    border-radius: 32px;
    border: 2px solid black;
}

#searchField:focus {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #0E4CB0;
}

#searchField::-webkit-input-placeholder {
    color: black;
    opacity: 0.5;
}

#searchField::placeholder {
    color: black;
    opacity: 0.5;
}

#submitSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    height: 40px;
    min-width: 40px;
    border-radius: 20px;
    margin-left: 5px;
    padding: 0;
}

#submitSearch:hover {
    background: #0E4CB0;
}

#submitSearch svg {
    fill: black;
}

#submitSearch:hover svg {
    fill: white;
}

/* Main Menu */

#menuItems {
    margin-left: auto;
    margin: 0;
    list-style: none;
    order: 2;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style-type: none;
}

.menuItem {
    display: flex;
    width: 100%;
    border: none;
    list-style: none;
    height: 48px;
    justify-content: center;
    align-items: center;
}

#newEvent img {
    margin-top: 4px;
}

#moreee {
    margin-bottom: 2px;
}

#moreee {
    fill: black;
}

#more:hover #moreee {
    fill: white;
}

#bell svg {
    fill: black;
}

#bell:hover svg {
    fill: white;
}

#new svg {
    fill: black;
}

#new:hover svg {
    fill: white;
}

.menuItem:hover {
    background: #0E4CB0;
}

/* More Dropdown */

#moreDropdown {
    text-align: center;
    display: none;
    position: absolute;
    background-color: #ffffff;
    outline: 2px solid #0E4CB0;
    outline-offset: -2px;
    right: 0;
    z-index: 3;
}

#more:hover #moreDropdown {
    display: block;
}

#moreDropdown ul {
    list-style: none;
    padding-left: 0;
    display: flex;
}

#moreDropdown li {
    margin: 4px 10px 8px 10px;
}

/* More Dropdown Items */

#moreDropdown li svg {
    fill: #808080;
}

#moreDropdown li:hover svg {
    margin: 0;
    fill: #0E4CB0;
}

#moreDropdown li div {
    margin-top: -8px;
    color: #808080;
    text-align: left;
}

#moreDropdown li:hover div {
    color: #0E4CB0;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
    #logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 640px) {
    #logo {
        float: right;
    }
    #searchField {
        display: none;
    }
}

/* Burger Menu */

#burgerDropdown {
    display: none;
    background-color: #bfbfbf;
    border-top: 1px solid #808080;
    height: 30px;
}

#mobileMenu {
    position: fixed;
    bottom: 0;
    display: none;
    justify-content: space-around;
    background-color: #ffffff;
    border-top: 1px solid #808080;
}

#mobileMenu div {
    padding: 8px;
    color: #0E4CB0;
}

#mapp {
    color: #0E4CB0;
}

/* Nav */

nav {
    height: 40px;
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 1;
}

/* Nav Date */

#navDate {
    background: transparent;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    align-items: center;
    font-weight: 700;
    background-color: white;
}

#navDate a {
    font-size: 1em;
    color: #808080;
}

#navDate a:hover {
    color: #0E4CB0;
}

#createEvent {
    border-radius: 8px;
    overflow: hidden;
    margin: auto;
    margin-top: 32px;
    width: 600px;
    border: 1px solid #808080;
}

#createTop {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    background-color: none;
    border-bottom: 1px solid #808080;
}

#required {
    padding: 12px 16px 12px 16px;
}
#optional{
    background-color: #ededed;
}

#required h3 {
    margin: 0;
}

#optional {
    padding: 12px 16px 12px 16px;
}

#optional h3 {
    margin: 0;
}

#description {
    position: relative;
}

#descTitle {
    position: absolute;
    margin-left: 8px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: white;
}

textarea {
    outline: none;
    background-color: white;
    padding: 12px;
    margin-top: 10px;
    border: 2px solid #0E4CB0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    height: 68px;
}

.container {
    padding-left: 48px;
    padding-right: 48px;
}

.formFields {
    margin-top: 12px;
    margin-bottom: 12px;
}

.formFields2 {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #808080;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px 12px 8px 12px;
    margin-left: 64px;
}

#location {
    border: none;
    background-color: #ededed;
    border-bottom: 2px solid #808080;
    outline: none;
}

#maxAttendees {
    background-color: #ededed;
    padding: 4px;
    border: 2px solid #808080;
    width: 62px;
    outline: none;
}

#day, #time {
    background-color: #ededed;
    padding: 4px;
    border: 2px solid #0E4CB0;
    border-radius: 4px;
    width: 62px;
    outline: none;
}

#audience {
    background-color: #0E4CB0;
    border: none;
    color: white;
    padding: 4px;
    border-radius: 4px;
    outline: none;
}

label {
    font-weight: 500;
}

#image{
    padding: 4px;
    border-radius: 4px;
    background-color: #bfbfbf;
}
.baseline{
    margin-right: 4px;
    vertical-align: bottom;
}

.cont1{
    display: flex;
}
#uiElement{
    position: relative;
    width: 34px;
}
#cien{
    width: 100%;
}

.circle{
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width:18px;
    border-radius: 100px;
    height: 18px;
    background-color: #808080;
    position: absolute;
}
.c1{
    top: 14px;
    background-color: green;
}
.c2{
    top: 49px;
}
.c3{
    top: 148px;
}
.bar{
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: 130px;
    width: 6px;
    background-color: #d9d9d9;
}