*{
    margin: 0; 
    padding: 0px;
}
header{
    height: 39px;
    margin: 0;  
    position: sticky;
    padding: 8px 12px 0px 0px; 
    justify-content: space-between;
    display: flex;
    background-color: rgb(255, 251, 0);
}
ul{
    height: 20px;
    display: flex;  
    list-style-type: none;
    
}
li{ 
    padding-top: 2px;
    padding-left: 15px; 
}
input{
    width: 350px;
    height: 30px;
    padding-left: 10px; 
    border-radius: 15px;
    border: 0px solid #333;
    outline: 0px;
}